.local {
  /* local images */
  background-image: url('../images/test.png');
}

.skip {
  /* skip images using a comment directive */
  background-image: url(images/test.gif); /*ImageEmbed:skip*/
}

.external {
  /* external images don't really work, yet */
  background-image: url('https://raw.github.com/jpunt/grunt-css-url-rewrite/master/example/images/test.png');
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
